.jumbotron#content
  .container#main
    h1 Club Utilities
    p We are about #[span#percent 0]% through the year.
    br
    .row
      .col-sm-4
        .panel.panel-default
          .panel-heading
            h2.panel-title Key Club
          .panel-body.
            You should have about #[span.red#hours 0 hours].  You need #[span.red 40 hours] in total.
            #[br]
            #[br]
            #[a.btn.btn-info(href='https://docs.google.com/spreadsheets/d/1Bw7UnViij9Fb9j6SIlPc0pvCSXdchDVZoFCSwhOCTOE/edit' target='_blank') View Credit Sheet&nbsp;&nbsp;#[i.fa.fa-share]]
      .col-sm-4
        .panel.panel-default
          .panel-heading
            h2.panel-title Science Club
          .panel-body.
            You should have gone to #[span.red#meetings 0 meetings].  You need to attend #[span.red 4 meetings] in total.
            #[br]
            #[br]
            #[a.btn.btn-info(href='https://docs.google.com/spreadsheets/d/1s9pbozhOKf0vJgYjEkTy4_U872TtxtmEehcS0dkaDtE/edit?usp=sharing' target='_blank') View Credit Sheet&nbsp;&nbsp;#[i.fa.fa-share]]
      .col-sm-4
        .panel.panel-default
          .panel-heading
            h2.panel-title Trojan Times
          .panel-body.
            You should have submitted #[span.red#articles 0 articles].  You need to submit #[span.red 5 articles] in total.  Please note that you need 2 articles in by December!
            #[br]
            #[br]
            #[a.btn.btn-info.disabled Unavailable&nbsp;&nbsp;#[i.fa.fa-share]]
    .row
  .container#footer
    .row
      .col-xs-12.text-right
        p.help-block.small If you liked this, try #[a(href='http://finalgradecalculator.co' target="_blank") Final Grade Calculator]!