html, body {
  height: 100%;
}
.navbar-default {
  background: rgba(255,255,255,0.9);
}
.navbar-default .navbar-brand {
  color: #333;
  font-size: 22px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
  color: #000;
}
.navbar-brand,
.navbar-nav > li > a {
  padding: 20px;
}
.navbar-default .navbar-nav > li > a {
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: #000;
  background: rgba(0,0,0,0.05);
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a:active {
  color: #000;
  background: rgba(0,0,0,0.1);
}
.jumbotron {
  padding-top: 90px;
  background: url('http://i.imgur.com/NNMtXcE.jpg');
  background-size: cover;
}
a {
  color: #888;
}
a:hover,
a:focus,
a:active {
  color: #333;
  text-decoration: underline;
}
label,
table,
p > span,
h1 > span {
  background: rgba(255,255,255,0.9);
  color: #333;
}
table.table tr {
  padding: 15px;
}
label {
  position: relative;
  bottom: -5px;
  padding: 0px 5px;
  font-size: 14px;
}
p > span {
  padding: 7px;
}
h1 > span {
  padding: 15px;
}
.form-control:focus {
  box-shadow: 0px 0px 15px white;
}
