body
  font-family 'Josefin Sans'
  
h1, h2, h3, h4
  font-family 'Playfair Display'
  
  .btn
    font-family 'Josefin Sans'

#app
  min-height 100vh
  font-size 1.7rem
  
#content
  display flex
  flex-direction column
  min-height 100%
  margin-bottom 0px
  padding-bottom 15px
  
#main
  flex 1

.red
  color red !important
  
.btn, .panel
  border-radius 0px
  font-size 1.6rem
  
.panel-title
  font-size 2rem