.jumbotron
  margin-bottom 0
  min-height 100vh
  background linear-gradient(
               rgba(black, 0.5),
               rgba(black, 0.5)
             ),
             url("https://i.imgur.com/F4GRNDa.jpg")
  background-size: cover
  background-repeat no-repeat
  background-attachment fixed