extends /_layout

block head
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato|Lobster')
  style.
    body {
      font-family: Lato;
    }
    h1 {
      font-family: Lobster;
    }
    .jumbotron {
      min-height: 100vh;
      margin-bottom: 0;
    }

block content
  .jumbotron
    .container
      h1 404 - Page Not Found
      p We couldn't find that page!
      br
      a.btn.btn-success.btn-lg(href='/') Credit Sheet Search&nbsp;&nbsp;#[i.fa.fa-share]
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a.btn.btn-info.btn-lg(href='/dash') Club Dashboard&nbsp;&nbsp;#[i.fa.fa-share]
      | &nbsp;&nbsp;&nbsp;&nbsp;
      a.btn.btn-warning.btn-lg(href='/gradecalculator') Grade Calculator&nbsp;&nbsp;#[i.fa.fa-share]
       
