extends /_layout

block head
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display:900italic')
  link(rel='stylesheet' href='/css/dash.css')

block content
  #app
  
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
  script(src='https://cdn.rawgit.com/blakeembrey/pluralize/55808fe24dc055f50cd9d0c6f09f59e71a0cb49e/pluralize.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js')
  script(src='/js/dash.js')