extends /_layout

block head
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato|Lobster')
  link(rel='stylesheet' href='/css/home.css')

block content
  .jumbotron
    .container
      h1 Credit Sheet Search&nbsp;&nbsp;
        a.btn.btn-warning.btn-lg(href='/gradecalculator') Final Grade Calculator&nbsp;&nbsp;#[i.fa.fa-share]
      #root
        
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js')
  script(src='/js/home.js')
