h1
  span About
br
p
  span
    | Written using&nbsp;
    a(href='https://angularjs.org') AngularJS
    | .&nbsp;&nbsp;
    | Base CSS is based on&nbsp;
    a(href='https://bootswatch.com') Bootswatch's&nbsp;
    a(href='https://bootswatch.com/superhero/') Superhero&nbsp;
    | theme.
br
a.btn.btn-lg.btn-success(href='#/calc') Go Back to Calculator
